<div class="container mt-5 mb-5">
    <h1 class="text-center">About This Project</h1>
    <h6>Hii Everyone,</h6>
    <p>My name is ANKIT KUMAR JAIN. and i have created this project to demonstrate the practical use of MEAN Stack Development.</p>
    <p>I am working as a PHP Developer for 2 years and in this two years i have workd on various technologies i.e. PHP, MYSQL, APACHE Cordova, Ionic, Codeigniter, REST API's etc.</p>
    <p>Recently i also started working on python FLASK.</p>
    <p>And now i have started working on MEAN Stack and this project is also fully built on this particular stack.</p>
    <h5>What is Lorem Ipsum?</h5>  
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>  
    <h5>What is Lorem Ipsum?</h5>  
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>  
    
    

</div>
